*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff8e1;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: 0.625rem;
  background-color: #fff;
  text-align: center;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  border-bottom: 0.3125rem solid #444;
}
.header h1 {
  color: #d44e20;
  font-family: "Cormorant Unicase", serif;
  font-size: clamp(2.5rem, 5vw, 6rem);
  font-weight: 700;
}

.main-wrapper {
  width: min(90%, 75rem);
  margin-inline: auto;
  padding-block: 4rem;
  font-family: "Source Sans Pro", "Helvetica", "Helvetica Neue", sans-serif;
}

.card-images-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
}

.card-image {
  height: fit-content;
  padding: 1.5rem;
  background-color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px 0, rgba(0, 0, 0, 0.14) 0 3px 4px 0, rgba(0, 0, 0, 0.12) 0 3px 3px -2px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  margin-bottom: 0.75rem;
  border-radius: 0.625rem;
}

.caption {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #d44e20;
}

/*# sourceMappingURL=styles.css.map */
