$font-emphasis:  'Cormorant Unicase', serif;
$font-basis: 'Source Sans Pro', 'Helvetica', 'Helvetica Neue', sans-serif;
$color-light: #fff;
$color-dark: #444;
$color-emphasis: #d44e20;
$color-body: #fff8e1;
