@use "../auxiliary/variables" as *;
@use "../auxiliary/functions" as f;

body {
  background-color: $color-body;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding-block: f.rem(10px);
  background-color: $color-light;
  text-align: center;
  border-bottom-left-radius: f.rem(20px);
  border-bottom-right-radius: f.rem(20px);
  border-bottom: f.rem(5px) solid $color-dark;
  h1 {
    color: $color-emphasis;
    font-family: $font-emphasis;
    font-size: clamp(2.5rem, 5vw, 6rem);
    font-weight: 700;
  }
}

.main-wrapper {
  width: Min(90%, f.rem(1200px));
  margin-inline: auto;
  padding-block: f.rem(64px);
  font-family: $font-basis;
}

.card-images-container {
  display: grid;
  gap: f.rem(32px);
  grid-template-columns: repeat(auto-fit, minmax(f.rem(300px), 1fr));
}

.card-image {
  height: fit-content;
  padding: f.rem(24px);
  background-color: $color-light;
  text-decoration: none;
  border-radius: f.rem(8px);
  box-shadow: rgb(0 0 0 / 20%) 0 1px 8px 0, rgb(0 0 0 / 14%) 0 3px 4px 0,
    rgb(0 0 0 / 12%) 0 3px 3px -2px;
}

.img-responsive {
  max-width: 100%;
  display: block;
  margin-bottom: f.rem(12px);
  border-radius: f.rem(10px);
}

.caption {
  text-align: center;
  font-size: f.rem(20px);
  font-weight: 600;
  color: $color-emphasis;
}
